html{

  font-family: 'Raleway', sans-serif;
  background-color: #C83F49;
}


body {
    width: 800px;
    margin: 1em;
    margin: auto;
    background-color: #FFFFFF;
    padding: 0 20px 20px 20px;
    border: 5px solid black;}
  
h2 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 20px 0;    
    color: #C83F49;
    text-shadow: 1px 1px 1px black;
    
      
  }
  h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 20px 0;    
    color: #C83F49;
    text-shadow: 1px 1px 1px black;
    
      
  }
  h4 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 20px 0;    
    color: #C83F49;
    text-shadow: 1px 1px 1px black;
    
      
  }
  
  p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
  }

  
img {
    display: block;
    margin: 0 auto;
    width:600px;
  }

  
